<div class="container">

  <div class="jumbotron">
    <h1>Welcome to IMAGEine That!</h1>
    <h3>By signing in you can view the photos of others and provide them with helpful critique, as well as upload yor own photos to receive constructive feedback on style, technical skill, and content.</h3>
    <h4>If you're ready to start the journey:</h4>
    <button><%= link_to "Sign Up Now!", :new_user %></button>
  </div>

</div>
